header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0;
  height: 90px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
}

header h2 {
  margin-right: 120px;
}

header .profile-picture {
  display: flex;
  align-items: center;
}

header .profile-picture img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

header .profile-picture p {
  font-size: 25px;
  margin-left: 22px;
  margin-top: 10px;
}

header button.btn-add {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.add-icon {
  color: #007aff;
  font-size: 50px;
  outline: none;
  cursor: pointer;
}

.content {
  margin-top: 50px;
}

.card-album {
  margin-top: 40px;
  width: 350px;
  height: 172px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  display: block;
}

.album {
  position: relative;
  text-align: center;
  color: white;
}

.album img {
  /* width: 100%;
  height: auto;
  vertical-align: bottom; */
  position: absolute;
  left: 0;
  top: -250px;
  transition: all .2s ease-in-out;
}

.album img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.album h5 {
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  top: 50px;
  left: 25px;
}

.album p {
  position: absolute;
  top: 85px;
  left: 25px;
  font-weight: 200;
}
